<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskOthello</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <p id="status"></p>
    <div id="container"></div>

    <div id="game-buttons" style="display: none;">
        <button id="resign-btn">Resign</button>
        <button id="offer-draw-btn">Offer Draw</button>

        <div id="draw-popup" style="display: none;">
            <p>Your opponent offered a draw.</p>
            <button id="accept-draw-btn">Accept</button>
            <button id="decline-draw-btn">Decline</button>
        </div>
    </div>

    <div id="history-controls" style="display: none;">
        <button id="history-start">&laquo;</button>
        <button id="history-prev">&lt;</button>
        <button id="history-next">&gt;</button>
        <button id="history-end">&raquo;</button>
    </div>
    <script type="module" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>